// • CSS adapted from Chris Coyiers' post - http://css-tricks.com/replicating-google-hangoutss-chat/ 
// • Design based off of Google hangoutss "app" - http://www.google.com/hangoutss/

$mentionColor: #303030;
$focusColor: #62b450;

body {
    background: #e5e5e5;
    margin: 0;
    padding: 5px 0 50px 0; // finality
}

// for testing
.body {
    font-family: 'Helvetica';
    font-size: 13px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
}

%message-wrapper {
    padding: 5px 10px 5px;
    overflow: hidden;
    position: relative;

    &.history {
        .hangouts-avatar img {
            opacity: 0.5;
        }
    }

    &.focus {
        .hangouts-messages {
            border-right: 4px solid $focusColor;  
        }
    }

    &.mention {
        .hangouts-messages {
            background-color: $mentionColor;
            color: white;
            a {
                color: #7baaef;

                &:visited { color: #b78eef; }
            }
        }
    }
}

.hangouts-avatar {
    width: 40px; // stronger than %
    height: 40px;
    position: relative; // for triangle
    img {
        display: block;
        width: 100%;
    }
}

.hangouts-other {
    @extend %message-wrapper;

    .hangouts-messages {
        float: left;
        border-top-left-radius: 0; // weird shadow fix
        margin-left: 40px;
    }

    .hangouts-avatar {
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 1;

        .hangouts-group-avatar {
            display: none;

            .groupchat & {
                display: inline;
            }
        }

        .hangouts-single-avatar {
            .groupchat & {
                display: none;
            }
        }

        img { border-radius: 2px 0 0 2px; }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }

    &.mention {
        .hangouts-avatar:after {
            border-color: $mentionColor;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.hangouts-self {
    @extend %message-wrapper;

    .hangouts-messages {
        float: right;
        margin-right: 40px;
        border-bottom-right-radius: 0; // weird shadow fix
    }

    .hangouts-avatar {
        position: absolute;
        right: 10px;
        bottom: 5px;
        z-index: 1;

        img { border-radius: 0 2px 2px 0; }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-right-color: transparent;
            border-top-color: transparent;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 9px;
            height: 1px;
            box-shadow: 0 1px 2px rgba(black, 0.2);
        }
    }
}

.hangouts-messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);

    p {
        font-size: 1em;
        margin: 0 0 0.5em 0;
    }
    
    time {
        font-size: 0.85em;
        color: #bbb;
    }
}

.hangouts-status {
    padding: 2px 10px;
    text-align: center;
    color: #9a9a9a;
    font-size: 0.85em;
}

.hangouts-topic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .769230769em; 
    background: rgba(white, 0.9);
    z-index: 50;
    max-height: 2.538461538em;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(black, 0.2);

    
    &:after {
        content: '';
        width: 100%;
        height: 15px;
        background: -webkit-linear-gradient(rgba(white, 0), white);
        position: absolute;
        bottom: -1px;
        left: 0;
    }

    &:hover {
        height: auto;
        max-height: none;
    }

    &:empty {
        display: none;
    }
}

.hangouts-update {
    @extend .hangouts-topic;
    display: none;

    top: auto;
    bottom: 0;
    height: auto;
    max-height: none;
    box-shadow: 0 -1px 2px rgba(black, 0.2);

    .close {
        margin-left: 10px;
        float: right;
        cursor: pointer;
    }

    &:after {
        display: none;
    }
}

.hangouts-debug {
    margin: 10px;
    padding: 10px;

    background: #fcf8e2;
    border: 1px solid #fbeed4;
    color: #c09853;
    border-radius: 4px;
}

.actionMessageBody {
    font-style: italic;
    &:before, &:after { content: ''; }
}